<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <comp1></comp1>
    <comp1></comp1>
    <comp1></comp1>
    <comp1></comp1>

</div>

<script>
    Vue.component('comp1', {
        template: `
                <div>
                    <h1>{{aula}}</h1>
                    <h2>{{modulo}}</h2>
                    <button @click="alterarAula">Alterar Aula</button>
                    <button @click="alterarModulo">Alterar Modulo</button>
                </div>
        `,
        data: function () {
            return {
                aula: 'Aula: Montando Instância Vue',
                modulo: 'Modulo: Instância Vue'
            }
        },
        methods: {
            alterarAula(){
                this.aula += '#'
            },
            alterarModulo(){
                this.modulo += '#'
            }
        }

    })
    const vm = new Vue({
        el: '#app',

    })

</script>