<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>


<div id="app">
    <h1>{{titulo}}</h1>
    <button @click="titulo += '#'">Alterar Título</button>
    <button @click="$destroy()">Destruir</button>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            titulo: 'Ciclo de Vida',
        },
        beforeCreate() {
            console.log('Antes de Criar')
        },
        created() {
            console.log('Criado')
        },
        beforeMount() {
            console.log('Antes de Montar (DOM')
        },
        mounted() {
            console.log('DOM Montada')
        },
        beforeUpdate() {
            console.log('Antes de Atualizar')
        },
        updated() {
            console.log('Atualizado')
        },
        beforeDestroy() {
            console.log('Antes de destruir')
        },
        destroyed() {
            console.log('Destruido')
        }
    })
</script>