<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    {{ titulo }}
    <button @click="alterar">Alterar</button>
</div>

<script>
    const vm = new Vue({
        el: '#app',
        data: {
            titulo: 'Teste'
        },
        methods: {
            alterar(){
                this.titulo += '????'
            }
        }
    })
    vm.novaInfo = 'Teste'
    console.log(vm.novaInfo)
</script>