<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>
<!-- v-show não remove o elemento da dom, ele apenas esconde para ficar mais facil de renderizar a aplicação. Não aconselhavel para dados sensiveis. -->
<div id="app">
    <!-- <div v-if="logado">
        <p>Usuário Logado: {{nome}}</p>
        <p>Perfil Admin</p>
    </div> -->
    <template v-if="logado">
        <p>Usuário Logado: {{nome}}</p>
        <p>Perfil Admin</p>
    </template>
    <p v-else-if="anonimo">Navegando como Anonimo</p>
    <p v-else>Nenhum usuário logado</p>
    <button @click="logado = !logado">{{logado ? 'Sair' : 'Entrar'}}</button>
    <input type="checkbox" v-model="anonimo">
    <hr>
    <footer v-show="logado">
        Desenvolvido para você!
    </footer>
    <footer v-show="!logado">
        Desenvolvido para você que é desconhecido!
    </footer>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            nome: 'Fernando',
            logado: false,
            anonimo: true
        }
    })
</script>