<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <p v-if="logado">Usuário Logado: {{nome}}</p>
    <p v-else>Nenhum usuário logado</p>
    <button @click="logado = !logado">{{logado ? 'Sair' : 'Entrar'}}</button>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            nome: 'Fernando',
            logado: false
        }
    })
</script>