<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for="(cor, i) in cores">{{i + 1}}) {{cor}}</li>
    </ul>
    <hr>
    <template v-for="(cor, i) in cores">
        <h1> {{ cor }} </h1>
        <p> {{ i }} </p>
    </template>
    <hr>
    <ul>
        <li v-for="pessoa in pessoas">
            <!-- <div v-for="(valor, chave, indice) in pessoa">
                {{chave}} = {{valor}} ({{indice + 1}})
            </div> -->
            <!-- <span v-for="(valor, chave, indice) in pessoa">
                {{chave}} = {{valor}} ({{indice + 1}})
            </span> -->
            <span v-for="(valor, chave, indice) in pessoa">
                {{chave}} = {{valor}} ({{indice + 1}})
            </span>
        </li>
    </ul>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [{
                    nome: 'Fernando',
                    idade: 30,
                    altura: 1.87
                },
                {
                    nome: 'Juliana',
                    idade: 30,
                    altura: 1.65
                }
            ],
        }
    })
</script>

<style>
    ul {
        list-style: none;
    }

    h1,
    p {
        display: inline;
    }
</style>