<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for="(cor, i) in cores">{{i + 1}}) {{cor}}</li>
    </ul>
    <hr>
    <ul>

    </ul>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [{
                    nome: 'Fernando',
                    idade: 30
                },
                {
                    nome: 'Juliana',
                    idade: 30
                }
            ],
        }
    })
</script>

<style>
    ul {
        list-style: none;
    }
</style>