<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app1">
    <contador1></contador1>
    <contador1></contador1>
    <contador1></contador1>
</div>
<hr>
<div id="app2">
    <app-contador></app-contador>
    <app-contador></app-contador>
    <app-contador></app-contador>
</div>

<script>
    const contador = {
        template: `
            <div>
                <span>{{contador}}</span>
                <button @click="contador++">+</button>
                <button @click="contador--">-</button>
            </div>
        `,
        data(){
            return{
                contador: 0
            }
        }

    }
    new Vue({
        el: '#app1',
        // REGISTRO LOCAL
        components:{
            contador1: contador
        }
    })
    new Vue({
        el: '#app2',
        // REGISTRO LOCAL
        components:{
            'app-contador': contador
        }
    })
</script>