<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <contador></contador>
    <contador></contador>
    <contador></contador>
</div>

<script>
    // ESTE TIPO DE REGISTRO É GLOBAL
    Vue.component('contador', {
        template: `
            <div>
                <span>{{contador}}</span>
                <button @click="contador++">+</button>
                <button @click="contador--">-</button>
            </div>
        `,
        data(){
            return{
                contador: 0
            }
        }
    })
    new Vue({
        el: '#app'
    })
</script>