<template>
	<v-app>
		<Menu />
		<Toolbar />
		<v-content>
			<Carousel />
		</v-content>
		<Footer />
	</v-app>
</template>

<script>
import Menu from "./components/template/Menu";
import Footer from './components/template/Footer'
import Carousel from "./components/widgets/Carousel";
import Toolbar from "./components/template/Toolbar";

export default {
	// Padrão bacana para ser utilizado, mas há outro melhor!!!
	// components: {
	// 	'app-footer': Footer,
	// 	'app-carousel': Carousel,
	// 	'app-toolbar': Toolbar,
	// 	'app-menu': Menu
	// },
	components: {
		Footer,
		Carousel,
		Toolbar,
		Menu
	}
}
</script>
