<script src="https://unpkg.com/vue"></script>

<style>
    #app{
        display: flex;
        justify-content: space-between;
    }
    .demo{
        width: 100px;
        height: 100px;
        background-color: gray;
    }
    .c1{
        background-color: red;
    }
    .c2{
        background-color: green;
    }
    .c3{
        background-color: blue;
    }

</style>

<div id="app">
    <div class="demo"
         :class="estilo01"
         @click="aplicarC1 = !aplicarC1"></div>
    <div class="demo"></div>
    <div class="demo"></div>
</div>

<script>
    new Vue({
        el: '#app',
        data:{
            aplicarC1: false
        },
        computed:{
            estilo01(){
                return{
                    c1: this.aplicarC1,
                    c2: !this.aplicarC1,
                }
            }
        }
    })
</script>