<script src="https://unpkg.com/vue"></script>

<style>
    .caixas{
        display: flex;
        justify-content: space-between;
    }
    .demo{
        width: 100px;
        height: 100px;
        background-color: gray;
    }
    .c1{
        background-color: red;
    }
    .c2{
        background-color: green;
    }
    .c3{
        background-color: blue;
    }
    .girar{
        transform: rotate(45deg);
    }

</style>

<div id="app">
    <div class="caixas">
        <div class="demo"
             :class="estilo01"
             @click="aplicarC1 = !aplicarC1"></div>
        <div class="demo"></div>
<!--        <div class="demo " :class="[classeCss, 'girar']"></div>-->
<!--        <div class="demo girar" :class="[classeCss]"></div>-->
        <div class="demo " :class="[classeCss, {girar: aplicandoGirar}]"></div>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data:{
            aplicarC1: false,
            classeCss: 'c1',
            aplicandoGirar: false
        },
        computed:{
            estilo01(){
                return{
                    c1: this.aplicarC1,
                    c2: !this.aplicarC1,
                }
            }
        }
    })
</script>