<script src="https://unpkg.com/vue"></script>

<style>
    .caixas{
        display: flex;
        justify-content: space-between;
    }
    .demo{
        width: 100px;
        height: 100px;
        background-color: gray;
    }
    .c1{
        background-color: red;
    }
    .c2{
        background-color: green;
    }
    .c3{
        background-color: blue;
    }
    .girar{
        transform: rotate(45deg);
    }

</style>

<div id="app">
    <div class="caixas">
        <div class="demo" :style="{'background-color': cor}"></div>
        <div class="demo" :style="[meuEstilo, {height: 20}]"></div>
<!--        <div class="demo " :class="[classeCss, 'girar']"></div>-->
<!--        <div class="demo girar" :class="[classeCss]"></div>-->
<!--        <div class="demo " :class="[classeCss, {girar: aplicandoGirar}]"></div>-->
        <div class="demo"></div>

    </div>
    <hr>
    <input type="text" v-model="cor">
    <input type="text" v-model="largura">
</div>

<script>
    new Vue({
        el: '#app',
        data:{
            cor: 'purple',
            largura: 100,
            altura: 20
        },
        computed:{
            meuEstilo(){
                return {
                    backgroundColor: this.cor,
                    width: this.largura + 'px'
                }
            }
        }
    })
</script>