<script src="https://unpkg.com/vue"></script>
<div id = "app">
    <p>{{contador}}</p>
    <button v-on:click="somar">Somar 1</button>
    <p v-on:mousemove="atualizarxy">Mouse: {{x}} e {{y}}</p>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            contador: 0,
            x: 0,
            y: 0,
        },
        methods: {
            somar(){
                this.contador++
            },
            atualizarxy(event){
                this.x = event.clientX
                tyis.y = event.clientY
            }
        }
    })
</script>