<script src="https://unpkg.com/vue"></script>
<div id = "app">
    <p>{{contador}}</p>
    <button v-on:click="somar(2, $event)">Somar 1</button>
    <p v-on:mousemove="atualizarxy">
        Mouse: {{x}} e {{y}}
<!--        <span v-on:mousemove="parar">PARAR AQUI!</span>-->
        <span v-on:mousemove.stop.prevent="">PARAR AQUI!</span>
    </p>
<!--    <a v-on:click.prevent="" href="http://google.com">Google</a>-->
    <a v-on:click="naoNavegar" href="http://google.com">Google</a>
    <input type="text" v-on:keyup.enter="exibirAlerta">
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            contador: 0,
            x: 0,
            y: 0,
        },
        methods: {
            somar(passo, event){
                // this.contador++
                console.log(passo, event);
                this.contador += passo;
            },
            atualizarxy(event){
                this.x = event.clientX
                tyis.y = event.clientY
            },
            parar(event){
                event.stopPropagation()
            },
            naoNavegar(event){
                return event.preventDefault()
            },
            exibirAlerta(){
                return alert('Estou te alertando!')
            }
        }
    })
</script>