<script src="https://unpkg.com/vue"></script>
<div id = "app">
    <p>{{contador}}</p>
    <p>{{contador > 10 ? 'Maior que 10' : 'Menor que 10'}}</p>
    <button v-on:click="somar(2, $event)">Somar 1</button>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            contador: 0,
            x: 0,
            y: 0,
        },
        methods: {
            somar(){
                this.contador++
            }
        }
    })
</script>