<!--// WATCH AÇÕES ASSINCRONAS-->
<script src="https://unpkg.com/vue"></script>
<div id = "app">
    <button v-on:click="aumentar">Aumentar</button>
    <button v-on:click="contador2++">Aumentar 2</button>
    <button v-on:click="diminuir">Diminuir</button>
    <p>Contador: {{ contador }} || {{contador2}}</p>
    <p>Resultado: {{ resultado }}</p>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            contador: 0,
            contador2: 0
        },
        computed:{
            resultado(){
                console.log('Chama metodo');
                return this.contador >= 5 ?
                    'Maior ou igual a 5' : "Menor que 5"
            }
        },
        watch: {
            contador(novo, antigo){
                // console.log(novo, antigo)
                setTimeout(()=>{
                    this.contador = 0
                }, 2000)
            }
        },
        methods: {
            aumentar(){
                this.contador++
            },
            diminuir(){
                this.contador--
            },
            // resultado(){
            //     return this.contador >= 5 ?
            //         'Maior ou igual a 5' : "Menor que 5"
            // }
        }
    })
</script>