<script src="https://unpkg.com/vue"></script>
<div id = "app">
    <p>{{contador}}</p>
    <button v-on:click="somar">Somar 1</button>
<!--    v-on = @ -->
<!--    v-bind = :... -->
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            contador: 0,
        },
        methods: {
            somar(event){
                console.log(event);
                this.contador++
            }
        }
    })
</script>