<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id = "app">
    <p v-once>{{titulo}}</p>
    <p>{{saudacao()}}</p>
    <a v-bind:href="link">Google</a>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            titulo: 'Usando VueJS',
            link: 'http://www.google.com.br'
        },
        methods: {
            saudacao: function () {
                this.titulo = 'Bom Dia!'
                return this.titulo
            }
        }
    })
</script>