<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id = "app">
    <p v-once>{{titulo}}</p>
    <p>{{saudacao()}}</p>
<!--    <a v-bind:href="link">Google</a>-->
    <hr>
    <p v-html="linkHtml"></p>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            titulo: 'Usando VueJS',
            link: 'http://www.google.com.br',
            linkHtml: '<a href="http://google.com">Google</a>'
        },
        methods: {
            saudacao: function () {
                this.titulo = 'Bom Dia!'
                return this.titulo
            }
        }
    })
</script>