<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id = "app">
    <p>{{titulo}}</p>
    <p>{{saudacao()}}</p>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            titulo: 'Usando VueJS'
        },
        methods: {
            saudacao: function () {
                return this.titulo
            }
        }
    })
</script>