<script src="https://unpkg.com/vue"></script>
<script src="./app.js"></script>

<div id="desafio">
  <!-- 1) Ligue o botão para alternar a exibição dos dois
    parágrafos. Use ambos v-if e v-show e inspecione os elementos
    para ver a diferença -->
  <h2>#01</h2>
  <div>
    <button @click="expressao = !expressao">Alternar</button>
    <p v-if="expressao">Você quer me ver ...</p>
    <p v-else>...ou eu</p>
    <p v-show="expressao">Você quer me ver ...</p>
    <p v-show="!expressao">...ou eu</p>
  </div>

  <!-- 2) Exiba em uma <ul> um array de elementos da sua escolha.
    Imprima também o índice de cada elemento. -->
  <h2>#02</h2>
  <ul>
    <li v-for="(value, indice) in array"> {{value}} - {{indice}}</li>
  </ul>

  <!-- 3) Imprimir todos os pares de valor-chave do objeto a seguir:
    {
			titulo: 'O Senhor dos Anéis',
			autor: 'J.R.R. Tolkiens',
			volume: '3'
		}
    Imprima também o índice de cada item. -->
  <h2>#03</h2>
  <ul>
    <li v-for="(valor, chave, indice) in livro">
      {{chave}}: {{valor}} - {{indice + 1}}
    </li>
  </ul>

  <!-- 4) Imprima o seguinte objeto (somente os valores) e
    também crie um loop aninhado para o array:
    {
			id: 10,
			nome: 'Maria',
			notas: [7.67, 8.33, 6.98, 9.21]
		}
    (dica: use v-for e v-if na resolução) -->
  <h2>#04</h2>
  <ul>
    <li v-for="valor in aluno">
      <template v-if="!Array.isArray(valor)">
        {{valor}}
      </template>
      <template v-else>
        Notas:
        <ul>
          <li v-for="nota in valor">
            {{nota}}
          </li>
        </ul>
      </template>
    </li>
  </ul>
</div>

<!-- <script>
  new Vue({
    el: '#desafio',
    data: {
      expressao: true,
      array: ['Pedro', 'Bia', 'Ana', 'Rebeca'],
      livro: {
        titulo: 'O Senhor dos Anéis',
        autor: 'J.R.R. Tolkiens',
        volume: '3'
      },
      aluno: {
        id: 10,
        nome: 'Maria',
        notas: [7.67, 8.33, 6.98, 9.21]
      }
    }
  });
</script> -->