<template>
    <div class="usuario-lista">
        <h3>Lista de Usuários</h3>
        <ul class="lista">
            <router-link tag='li' to="/usuario/1" class="item-lista">Usuário 01</router-link>
            <router-link tag='li' to="/usuario/2" class="item-lista">Usuário 02</router-link>
            <router-link tag='li' to="/usuario/3" class="item-lista">Usuário 03</router-link>
            <router-link tag='li' to="/usuario/4" class="item-lista">Usuário 04</router-link>
            <router-link tag='li' to="/usuario/5" class="item-lista">Usuário 05</router-link>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "UsuarioLista"
    }
</script>

<style scoped>

</style>