<template>
    <div class="usuario-detalhe">
        <h3>Usuário Detalhe</h3>
        <hr>
        <p><strong>Código: </strong>{{id}}</p>
<!--        <router-link tag="button" primario="" :to="`/usuario/${id}/editar`">-->
<!--            Editar-->
<!--        </router-link>-->
<!--        <router-link tag="button" primario="" :to="`/usuario/${$route.params.id}/editar`">-->
<!--            Editar-->
<!--        </router-link>-->
        <router-link tag="button" primario="" :to="{name: 'editarUsuario', params: {id},
        query: {completo: true, lingua: 'PT-BR'}}">
            Editar
        </router-link>
    </div>
</template>

<script>
    export default {
        name: "UsuarioDetalhe",
        props: ['id'],
        beforeRouteEnter(to, from, next){
            console.log('dentro do componente -> Usuário Detalhe.')
            // next(vm =>{
            //     console.log(`ID: ${vm.id}`)
            // })
            const autenticado = true
            autenticado ? next() : next(false)
        }
    }
</script>

<style scoped>

</style>