#efeito {
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

.destaque {
	background-color: red;
	width: 200px !important;
}

.encolher {
	background-color: gray;
	width: 50px !important;
}
.perigo{
	background-color: red;
}

.quadrado{
	width: 100px;
	height: 100px;
}
/*CLASSES*/
.direita {
	float: right;
}
.barra-progresso {
	height: 30px;
	width: 500px;
	border: 1px solid #000000;
}
.progress {
	background-color: aqua;
	height: 100%;
}