<template>
    <div class="citacao">
<!--        {{texto}}-->
        <div class="autor"><slot name="autor"></slot></div>
        <div class="texto"><slot name="texto"></slot></div>
        <div class="fonte"><slot name="fonte"></slot></div>
    </div>
</template>

<script>
export default {
    // props: ['texto']
    created() {
        console.log('Created CITAÇÃO')
    },
    destroyed() {
        console.log('Destroyed CITAÇÃO')
    },
    activated() {
        console.log('Activated CITAÇÃO')
    },
    deactivated() {
        console.log('Deactivated CITAÇÃO')
    }
}
</script>

<style scoped>
    .citacao {
        border: 1px solid #DDD;
        background-color: rgba(0, 0, 0, .1);
        padding: 25px;
        max-width: 450px;
    }
    h1{
        color: orange !important;
    }
    .autor {
        float: right;
    }
</style>
